In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\dell\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\dell\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests) (2021.10.8)

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [17]:
# Ques1. Program to display all header tags from wikipedia.org


page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

soup = BeautifulSoup(page.content)

hd1= soup.find_all('h1')
hd2= soup.find_all('h2')
hd3= soup.find_all('h3')

    
print("List of header tags: \n\n",hd1,"\n\n",hd2,"\n\n",hd3,"\n")

List of header tags:

 [<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">Main Page</h1>, <h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>]

 [<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>, <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>, <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>, <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>, <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>, <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>, <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>, <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>, <h2>Navigation menu</h2>]

 [<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>, <h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>, <h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>, <h3>
<label for="searchInput">Search</label>
</h3>, <h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>, <h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>, <h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>, <h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>, <h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>, <h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>]

In [4]:
# Ques2. Program to display IMDB's top rated 100 movies


page = requests.get('https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating')

soup = BeautifulSoup(page.content)

names = []
rates = []
years = []

for i in soup('h3',class_="lister-item-header"):
    names.append(i.text.replace('\n',''))
    
for i in soup('div',class_="inline-block ratings-imdb-rating"):
    rates.append(i.text.replace('\n',''))
        
for i in soup('span',class_="lister-item-year text-muted unbold"):
    years.append(i.text.replace('I',''))
        
Top_movies = pd.DataFrame({"Names":names,"Ratings":rates,"Year of releasing":years})
Top_movies

,Names,Ratings,Year of releasing
0,1.The Shawshank Redemption(1994),9.3,(1994)
1,2.The Godfather(1972),9.2,(1972)
2,3.The Dark Knight(2008),9.0,(2008)
3,4.The Lord of the Rings: The Return of the Kin...,9.0,(2003)
4,5.Schindler's List(1993),9.0,(1993)
...,...,...,...
95,96.Drishyam(2013),8.3,(2013)
96,97.Jagten(2012),8.3,(2012)
97,98.Jodaeiye Nader az Simin(2011),8.3,(2011)
98,99.Incendies(2010),8.3,(2010)
99,100.Spider-Man: No Way Home(2021),8.3,(2021)

In [5]:
# Ques3. Program to display IMDB's top rated 100 Indian movies


page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')

soup = BeautifulSoup(page.content)

n= []
r= []
y= []
for i in soup.find_all('td',class_="titleColumn"):
    n.append(i.text.replace('\n',''))
    
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    r.append(i.text.replace('\n',''))  
    
for i in soup.find_all('span',class_="secondaryInfo"):
    y.append(i.text)    
    
name=n[:100]
rate=r[:100]
year=y[:100]

Top_Indian_movies = pd.DataFrame({"Name":name,"Rating":rate,"Year of release":year})
Top_Indian_movies

                                                Name Rating Year of release
0                             1.      Jai Bhim(2021)    8.4          (2021)
1                           2.      Anbe Sivam(2003)    8.4          (2003)
2                              3.      Golmaal(1979)    8.4          (1979)
3                              4.      Nayakan(1987)    8.4          (1987)
4                    5.      Pariyerum Perumal(2018)    8.4          (2018)
..                                               ...    ...             ...
95                             96.      Masaan(2015)    8.0          (2015)
96                            97.      Kahaani(2012)    8.0          (2012)
97        98.      Baahubali 2: The Conclusion(2017)    8.0          (2017)
98                     99.      Dil Chahta Hai(2001)    8.0          (2001)
99           100.      Maheshinte Prathikaaram(2016)    8.0          (2016)

[100 rows x 3 columns]

In [6]:
# Ques4. Program to display the list of respected former presidents of India

page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')

soup = BeautifulSoup(page.content)

detail = []

for i in soup.find_all('div',class_="presidentListing"):
    detail.append(i.text.replace('\n',''))
    
detail

['Shri Pranab Mukherjee (1935-2020)Term of Office: 25 July, 2012 to 25 July, 2017 http://pranabmukherjee.nic.in',
 'Smt Pratibha Devisingh Patil (birth - 1934)Term of Office: 25 July, 2007 to 25 July, 2012 http://pratibhapatil.nic.in',
 'DR. A.P.J. Abdul Kalam (1931-2015)Term of Office: 25 July, 2002 to 25 July, 2007 http://abdulkalam.nic.in',
 'Shri K. R. Narayanan (1920 - 2005)Term of Office: 25 July, 1997 to 25 July, 2002 ',
 'Dr Shankar Dayal Sharma (1918-1999)Term of Office: 25 July, 1992 to 25 July, 1997 ',
 'Shri R Venkataraman (1910-2009)Term of Office: 25 July, 1987 to 25 July, 1992 ',
 'Giani Zail Singh (1916-1994)Term of Office: 25 July, 1982 to 25 July, 1987 ',
 'Shri Neelam Sanjiva Reddy (1913-1996)Term of Office: 25 July, 1977 to 25 July, 1982 ',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)Term of Office: 24 August, 1974 to 11 February, 1977',
 'Shri Varahagiri Venkata Giri (1894-1980)Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Dr. Zakir Husain (1897-1969)Term of Office: 13 May, 1967 to 3 May, 1969',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)Term of Office: 13 May, 1962 to 13 May, 1967',
 'Dr. Rajendra Prasad (1884-1963) Term of Office: 26 January, 1950 to 13 May, 1962']

In [8]:
# Ques5. Program to scrape men's cricket ranking from icc-cricket.com
# (i) Top 10 ODI teams

page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

soup = BeautifulSoup(page.content)

t = []
m = []
p = []
ra = []

for i in soup.find_all('span',class_="u-hide-phablet"):
    t.append(i.text)
    
x=soup.find('td',class_="rankings-block__banner--matches")    
y=soup.find('td',class_="rankings-block__banner--points")

for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    m.append(i.text)
    
z=soup.find('td',class_="rankings-block__banner--rating u-text-right") 

for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    ra.append(i.text)

teams=t[:10]
print("match[0]:",x.text)
print("point[0]:",y.text)
match=m[:18:2]
match.insert(0,12)
point=m[1:18:2]
point.insert(0,1505)
print("rate[0]:",z.text.replace('\n',''))
ra.insert(0,125)
rate=r[:10]

ODI_Team = pd.DataFrame({"Teams":teams,"Matches":match,"Points":point,"Rating":rate})
ODI_Team

match[0]: 12
point[0]: 1,505
rate[0]:                             125

          Teams Matches Points Rating
0   New Zealand      12   1505    8.4
1       England      22  2,756    8.4
2      Pakistan      19  2,005    8.4
3         India      22  2,304    8.4
4     Australia      23  2,325    8.4
5  South Africa      19  1,872    8.3
6    Bangladesh      24  2,275    8.3
7     Sri Lanka      29  2,658    8.3
8   West Indies      32  2,306    8.3
9   Afghanistan      18  1,238    8.3

In [9]:
# Ques5. Program to scrape men's cricket ranking from icc-cricket.com
# (ii) Top 10 ODI Batsmen

page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

soup = BeautifulSoup(page.content)

n=[]
nm=[]
tm=[]
ra=[]

for i in soup.find_all('div',class_="rankings-block__banner--name"):
    n.append(i.text)

for i in soup.find_all('td',class_="table-body__cell name"):
    nm.append(i.text.replace('\n',''))
    
q=soup.find('div',class_="rankings-block__banner--nationality")    
for i in soup.find_all('span',class_="table-body__logo-text"):
    tm.append(i.text)  
    
r=soup.find('div',class_="rankings-block__banner--rating")    
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    ra.append(i.text)
    
naam=n[0]
print("names[0]:",naam)
names=nm[0:9]
names.insert(0,'Babar Azam')
print("teams[0]:",q.text.split()[0].replace('\n',''))
teams=tm[0:9]
teams.insert(0,'PAK')
print("rates[0]:",r.text)
rates=ra[0:9]
rates.insert(0,892)

ODI_batsmen= pd.DataFrame({"Batsmen":names,"Team":teams,"Rating":rates})
ODI_batsmen

names[0]: Babar Azam
teams[0]: PAK
rates[0]: 892

                 Batsmen Team Rating
0             Babar Azam  PAK    892
1            Imam-ul-Haq  PAK    815
2            Virat Kohli  IND    811
3           Rohit Sharma  IND    791
4        Quinton de Kock   SA    789
5            Ross Taylor   NZ    775
6  Rassie van der Dussen   SA    769
7         Jonny Bairstow  ENG    760
8           David Warner  AUS    745
9            Aaron Finch  AUS    727

In [12]:
# Ques5. Program to scrape men's cricket ranking from icc-cricket.com
# (iii) Top 10 ODI Bowlers

page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

soup = BeautifulSoup(page.content)

v=[]
bowler=[]
w=[]
te=[]
s=[]
re=[]

for i in soup.find_all('div',class_="rankings-block__banner--name"):
    v.append(i.text)
for i in soup.find_all('td',class_="table-body__cell name"):
    bowler.append(i.text.replace('\n',''))    

for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    w.append(i.text)
for i in soup.find_all('span',class_="table-body__logo-text"):
    te.append(i.text)
    
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    s.append(i.text)
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    re.append(i.text)    
    
vm=v[1]
print("name[0]:",vm)
bowler_names=bowler[9:18]
bowler_names.insert(0,'Trent Boult')
wm=w[1]
print("team[0]:",wm)
teamms=te[9:18]
teamms.insert(0,'NZ')
sw=s[1]
print("rate[0]:",sw)
ratees=re[9:18]
ratees.insert(0,726)

ODI_batsmen= pd.DataFrame({"Bowler":bowler_names,"Team":teamms,"Rating":ratees})
ODI_batsmen

name[0]: Trent Boult
team[0]:

NZ
                            726

rate[0]: 726

             Bowler Team Rating
0       Trent Boult   NZ    726
1      Chris Woakes  ENG    686
2        Matt Henry   NZ    683
3    Shaheen Afridi  PAK    681
4    Jasprit Bumrah  IND    679
5  Mujeeb Ur Rahman  AFG    676
6    Josh Hazlewood  AUS    667
7      Mehedi Hasan  BAN    661
8     Mohammad Nabi  AFG    657
9   Shakib Al Hasan  BAN    657

In [14]:
# Ques6. Program to scrape women's cricket ranking from icc-cricket.com
#(i) Top 10 ODI teams

page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

soup = BeautifulSoup(page.content)

t = []
m = []
p = []
r = []

for i in soup.find_all('span',class_="u-hide-phablet"):
    t.append(i.text)
    
xw=soup.find('td',class_="rankings-block__banner--matches")    
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    m.append(i.text)    

yw=soup.find('td', class_="rankings-block__banner--points")
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    p.append(i.text)

zw=soup.find('td',class_="rankings-block__banner--rating u-text-right")
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    r.append(i.text)
    
teams=t[:10]
print("matches[0]:",xw.text)
matches=m[0:18:2] 
matches.insert(0,29)
print("points[0]:",yw.text)
points=p[1:18:2] 
points.insert(0,4837)
print("rates[0]:",zw.text.replace('\n',''))
rates=r[:9]
rates.insert(0,167)

ODI_team = pd.DataFrame({"Teams":teams,"Matches":matches,"Points":point,"Rating":rates})
ODI_team

matches[0]: 29
points[0]: 4,837
rates[0]:                             167

          Teams Matches Points Rating
0     Australia      29   1505    167
1  South Africa      32  2,756    123
2       England      30  2,005    118
3         India      29  2,304    100
4   New Zealand      31  2,325     97
5   West Indies      30  1,872     92
6    Bangladesh      12  2,275     78
7      Pakistan      30  2,658     65
8     Sri Lanka       8  2,306     48
9       Ireland       8  1,238     44

In [15]:
# Ques6. Program to scrape women's cricket ranking from icc-cricket.com
# (ii) Top 10 ODI Batsmen

page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

soup = BeautifulSoup(page.content)

a=[]
nw=[]
tw=[]
rw=[]

for i in soup.find_all('div',class_="rankings-block__banner--name"):
    a.append(i.text)
for i in soup.find_all('td',class_="table-body__cell name"):
    nw.append(i.text.replace('\n',''))

qw=soup.find('div',class_="rankings-block__banner--nationality")
for i in soup.find_all('span',class_="table-body__logo-text"):
    tw.append(i.text)

rt=soup.find('div',class_="rankings-block__banner--rating")
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rw.append(i.text)

name=a[0]
print("names[0]:",name)
names=nw[0:9]
names.insert(0,'Alyssa Healy')
print("team[0]:",qw.text.split()[0].replace('\n',''))
team=tw[0:9]
team.insert(0,'AUS')
print("rates[0]:",rt.text)
rates=rw[0:9]
rates.insert(0,785)

ODI_batsmen = pd.DataFrame({"Name":names,"team":team,"Rating":rates})
ODI_batsmen

names[0]: Alyssa Healy
team[0]: AUS
rates[0]: 785

                Name team Rating
0       Alyssa Healy  AUS    785
1     Natalie Sciver  ENG    750
2        Beth Mooney  AUS    748
3    Laura Wolvaardt   SA    713
4        Meg Lanning  AUS    710
5     Rachael Haynes  AUS    701
6  Amy Satterthwaite   NZ    681
7    Smriti Mandhana  IND    669
8     Tammy Beaumont  ENG    659
9       Ellyse Perry  AUS    642

In [16]:
# Ques6. Program to scrape women's cricket ranking from icc-cricket.com
# (iii) Top 10 ODI all rounder

page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

soup = BeautifulSoup(page.content)

aw=[]
n=[]
bw=[]
t=[]
cw=[]
r=[]

for i in soup.find_all('div',class_="rankings-block__banner--name"):
    aw.append(i.text)
for i in soup.find_all('td',class_="table-body__cell name"):
    n.append(i.text.replace('\n',''))    

for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    bw.append(i.text.replace('\n','').split()[0])
for i in soup.find_all('span',class_="table-body__logo-text"):
    t.append(i.text)    
    
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    cw.append(i.text) 
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    r.append(i.text)
    
rates=re[18:27]
rates    
    
nam=aw[2]
print("name[0]:",nam)
name=n[18:27]
name.insert(0,'Natalie Sciver')
tm=bw[1]
print("teams[0]:",tm)
teams=t[18:27]
teams.insert(0,'ENG')
rt=cw[2]
print("rate[0]:",rt)
rate=r[18:27]
rate.insert(0,393)

all_rounder = pd.DataFrame({"Name":name,"team":teams,"Rating":rate})
all_rounder

name[0]: Natalie Sciver
teams[0]: ENG
rate[0]: 393

               Name team Rating
0    Natalie Sciver  ENG    393
1      Ellyse Perry  AUS    374
2   Hayley Matthews   WI    338
3    Marizanne Kapp   SA    338
4       Amelia Kerr   NZ    335
5  Ashleigh Gardner  AUS    269
6     Deepti Sharma  IND    249
7     Jess Jonassen  AUS    245
8         Sune Luus   SA    223
9   Katherine Brunt  ENG    221

In [19]:
# Ques7. Python program to scrape mentioned news details 

page = requests.get('https://www.cnbc.com/world/?region=world')

soup = BeautifulSoup(page.content)

headline = []
time = []
link = []

for i in soup.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)

for i in soup.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)   

for i in soup('a',class_="LatestNews-headline"):
    link.append(i.get("href"))    
    
news = pd.DataFrame({"Headline":headline,"Time":time,"News Link":link})
news

,Headline,Time,News Link
0,Fed’s Mester backs 75 basis point hike in July...,38 Min Ago,https://www.cnbc.com/2022/06/29/feds-mester-ba...
1,Treasury yields fall as traders track economic...,1 Hour Ago,https://www.cnbc.com/2022/06/29/treasury-yield...
2,ECB's Holzmann says there's ample room to hike...,1 Hour Ago,https://www.cnbc.com/2022/06/29/ecb-member-hol...
3,"'Russian terror' killing innocent civilians, U...",2 Hours Ago,https://www.cnbc.com/2022/06/29/russia-ukraine...
4,These are the most expensive places to work ab...,3 Hours Ago,https://www.cnbc.com/2022/06/29/these-are-the-...
5,Incoming Philippines finance secretary wants t...,3 Hours Ago,https://www.cnbc.com/2022/06/29/incoming-phili...
6,Europe's plans to replace Russian gas are deem...,3 Hours Ago,https://www.cnbc.com/2022/06/29/europes-plans-...
7,U.S. FCC commissioner wants Apple and Google t...,3 Hours Ago,https://www.cnbc.com/2022/06/29/fcc-commission...
8,Israeli government collapse could mean a poten...,3 Hours Ago,https://www.cnbc.com/2022/06/29/israeli-govern...
9,ECB's chief economist sees double-sided risk o...,3 Hours Ago,https://www.cnbc.com/2022/06/29/ecbs-lane-sees...
10,European markets pull back as investors weigh ...,4 Hours Ago,https://www.cnbc.com/2022/06/29/european-marke...
11,Tesla is cutting about 200 Autopilot jobs and ...,7 Hours Ago,https://www.cnbc.com/2022/06/28/tesla-cutting-...
12,Have stocks bottomed? Here’s one indicator pro...,8 Hours Ago,https://www.cnbc.com/2022/06/29/how-to-tell-if...
13,Goldman sees 'rapid' growth in semiconductors ...,8 Hours Ago,https://www.cnbc.com/2022/06/29/goldman-sachs-...
14,Hong Kong's Hang Seng briefly drops 2%; consum...,9 Hours Ago,https://www.cnbc.com/2022/06/29/asia-markets-w...
15,Cramer's lightning round: I can't recommend Si...,9 Hours Ago,https://www.cnbc.com/2022/06/28/cramers-lightn...
16,AWS CEO says the move to cloud computing is on...,9 Hours Ago,https://www.cnbc.com/2022/06/28/aws-ceo-says-t...
17,"U.S. to deploy nearly 300,000 monkeypox vaccin...",10 Hours Ago,https://www.cnbc.com/2022/06/28/us-to-deploy-n...
18,Nike has a ‘much better risk-reward’ than the ...,10 Hours Ago,https://www.cnbc.com/2022/06/28/cramer-nike-ha...
19,Jim Cramer picks 4 'buyable' stocks to snap up...,10 Hours Ago,https://www.cnbc.com/2022/06/28/jim-cramer-pic...
20,Stock futures fall slightly after failed attem...,11 Hours Ago,https://www.cnbc.com/2022/06/28/stock-market-f...
21,China's economy didn't bounce back in the seco...,11 Hours Ago,https://www.cnbc.com/2022/06/28/chinas-economy...
22,Best trades on CNBC Tuesday: Pros buy these st...,11 Hours Ago,https://www.cnbc.com/2022/06/28/best-trades-on...
23,Key takeaways from explosive Jan. 6 hearing fe...,11 Hours Ago,https://www.cnbc.com/2022/06/28/jan-6-hearing-...
24,"CVS removes purchase limit on Plan B pills, sa...",12 Hours Ago,https://www.cnbc.com/2022/06/28/cvs-to-remove-...
25,FDA panel recommends changing Covid shots to f...,12 Hours Ago,https://www.cnbc.com/2022/06/28/fda-panel-reco...
26,Millions of US residents may get new stimulus ...,12 Hours Ago,https://www.cnbc.com/2022/06/28/inflation-reli...
27,First phase of market downturn is done. Two mo...,12 Hours Ago,https://www.cnbc.com/2022/06/28/first-phase-of...
28,Disney extends CEO Bob Chapek's contract by th...,12 Hours Ago,https://www.cnbc.com/2022/06/28/disney-board-v...
29,Pinterest CEO Ben Silbermann is stepping down ...,12 Hours Ago,https://www.cnbc.com/2022/06/28/pinterest-shar...

In [20]:
# Ques8. Python program to scrape the details of most downloaded articles from AI in last 90 days

page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

soup = BeautifulSoup(page.content)

paper=[]
author=[]
pub=[]
url=[]

for i in soup('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    paper.append(i.text)

for i in soup('span',class_="sc-1w3fpd7-0 pgLAT"):
    author.append(i.text)

for i in soup('span',class_="sc-1thf9ly-2 bKddwo"):
    pub.append(i.text)

for i in soup('a',class_="sc-5smygv-0 nrDZj"):
    url.append(i.get("href"))
    
article = pd.DataFrame({"Paper Title":paper,"Authors":author,"Published Date":pub,"Paper url":url})
article

,Paper Title,Authors,Published Date,Paper url
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [24]:
# Ques9. Python program to scrape details from dineout.co.in

page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

soup = BeautifulSoup(page.content)

titles = []
titles1 = []
titles2 = []
titles3 = []
image = []

for i in soup.find_all('div',class_='restnt-info cursor'):
    titles.append(i.text)

    
for i in soup.find_all('span',class_="double-line-ellipsis"):
    titles1.append(i.text.split()[6:])
    

for i in soup.find_all('div',class_='restnt-loc ellipsis'):
    titles2.append(i.text)    

for i in soup.find_all('div',class_="restnt-rating rating-4"):
    titles3.append(i.text)
    
for i in soup.find_all('img',class_='no-img'):
    image.append(i['data-src'])
    
Restaurant = pd.DataFrame({"Restaurant name":titles,"Cuisine":titles1,"Location":titles2,"Ratings":titles3,"Image url":image})
Restaurant

,Restaurant name,Cuisine,Location,Ratings,Image url
0,"Castle BarbequeConnaught Place, Central Delhi","[North, Indian,, Chinese]","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","[North, Indian,, Asian,, Italian]","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","[Chinese,, North, Indian]","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","[Italian,, Continental]","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","[North, Indian,, Chinese]","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","[North, Indian,, Italian]","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","[North, Indian]","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"[North, Indian]","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","[North, Indian,, Italian]","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","[North, Indian,, Mughlai]","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad","[North, Indian]","Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","[North, Indian,, Mughlai,, Desserts,, Beverages]","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"[European,, Italian,, Asian,, Continental]","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

In [26]:
# Ques10. Python program to scrape the details of top publication 

page = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')

soup = BeautifulSoup(page.content)

rank = []
pu = []
h5 = []

for i in soup('td',class_="gsc_mvt_p"):
    rank.append(i.text)
    
for i in soup('td',class_="gsc_mvt_t"):
    pu.append(i.text)    
    
for i in soup('td',class_="gsc_mvt_n"):
    h5.append(i.text)
    
index=h5[:202:2]
median=h5[1:202:2]

Top_publication = pd.DataFrame({"Rank":rank,"Publication":pu,"h5-index":index,"h5-median":median})
Top_publication

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]