In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\dell\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
from selenium import webdriver
from selenium .webdriver.common.by import By
import pandas as pd
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re
 
import warnings 
warnings.filterwarnings("ignore")

In [37]:
# Ques1.

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

#                                        Scrap the Data

rank_tags=driver.find_elements(By.XPATH,'//td[@align="center"]')
r=[]
for i in rank_tags:
    r.append(i.text.replace('.',''))
rank1=r[0:34:3]
rank2=r[35:70:2]
rank=rank1+rank2

name_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
name=[]
for i in name_tags:
    name.append(i.text)
    
artist_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
artist=[]
for i in artist_tags:
    artist.append(i.text)

date_tags=driver.find_elements(By.XPATH,'//td[@align="right"]')
d=[]
for i in date_tags:
    d.append(i.text)
date=d[:30]

view_tags=driver.find_elements(By.XPATH,'//td[@align="center"]')
v=[]
for i in view_tags:
    v.append(i.text)
view1=r[1:35:3]
view2=r[36:71:2]
view=view1+view2

#                                    Create data frame

Video=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload Date':date,'Views':view})
Video

,Rank,Name,Artist,Upload Date,Views
0,1,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",1109
1,2,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",794
2,3,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",641
3,4,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",578
4,5,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",559
5,6,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",555
6,7,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",479
7,8,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",465
8,9,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",460
9,10,"""Gangnam Style""[24]",Psy,"July 15, 2012",451
10,11,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",450
11,12,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",425
12,13,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",401
13,14,"""Sugar""[32]",Maroon 5,"January 14, 2015",374
14,15,"""Roar""[33]",Katy Perry,"September 5, 2013",363
15,16,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",362
16,17,"""Sorry""[35]",Justin Bieber,"October 22, 2015",357
17,18,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",348
18,19,"""Axel F""[37]",Crazy Frog,"June 16, 2009",346
19,20,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",332
20,21,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",332
21,22,"""Faded""[40]",Alan Walker,"December 3, 2015",332
22,23,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",332
23,24,"""Let Her Go""[42]",Passenger,"July 25, 2012",327
24,25,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",325
25,26,"""Lean On""[44]",Major Lazer,"March 22, 2015",324
26,27,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",322
27,28,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",321
28,29,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",319
29,30,"""Mi Gente""[48]",J Balvin,"June 29, 2017",312

In [16]:
# Ques2.

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='http://www.bcci.tv/'
driver.get(url)

time.sleep(5)

#                                reach international fixture

inter_tags=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
inter_tags.click()

#                                         scrap details

match_tags=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
m=[]
for i in match_tags:
    m.append(i.text.split()[0:2])
    
series_tags=driver.find_elements(By.XPATH,'//h5[@class="fix-text"]')
s=[]
for i in series_tags:
    s.append(i.text)
series=s[1:16:2]    

place_tags=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
p=[]
for i in place_tags:
    p.append(i.text.replace('1st','').replace('2nd','').replace('3rd','').replace('ODI','').replace('T20I','').replace('-',''))

date_tags=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
d=[]
for i in date_tags:
    d.append(i.text)
    
time_tags=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
t=[]
for i in time_tags:
    t.append(i.text.replace('IST',''))
    
#                                      Create Data Frame 

Match=pd.DataFrame({'Match title':m,'Series':series,'Place':p,'Date':d,'Time(in IST)':t})
Match

,Match title,Series,Place,Date,Time(in IST)
0,"[1st, ODI]",INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club, Harare",18 AUG 2022,12:45 PM
1,"[2nd, ODI]",INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club, Harare",20 AUG 2022,12:45 PM
2,"[3rd, ODI]",INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club, Harare",22 AUG 2022,12:45 PM
3,"[1st, T20I]",ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai",28 AUG 2022,7:30 PM
4,"[2nd, T20I]",ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai",31 AUG 2022,7:30 PM
5,"[1st, T20I]",AUSTRALIA TOUR OF INDIA T20 SERIES 2022,Punjab Cricket Association IS Bindra Stadiu...,20 SEP 2022,7:30 PM
6,"[2nd, T20I]",AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Vidarbha Cricket Association Stadium, Nagpur",23 SEP 2022,7:30 PM
7,"[3rd, T20I]",AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Rajiv Gandhi International Stadium, Hyderabad",25 SEP 2022,7:30 PM

In [41]:
#Ques3.

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='http://www.guru99.com/'
driver.get(url)

time.sleep(5)

#                              Select Selenium and then reach Selenium Exception Handling

selenium=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
selenium.click()

excep_handling=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')
excep_handling.click()

time.sleep(10)

#                                       Scrap the details

name_tags=driver.find_elements(By.XPATH,'//table[@class="table table-striped"][1]/tbody/tr/td[1]')
name=[]
for i in name_tags:
    name.append(i.text)
    
descp_tags=driver.find_elements(By.XPATH,'//table[@class="table table-striped"][1]/tbody/tr/td[2]')
descp=[]
for i in descp_tags:
    descp.append(i.text)    
    
#                                    Create Data Frame

Selenium_Exception_Handling=pd.DataFrame({'Name':name,'Description':descp})
Selenium_Exception_Handling

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [35]:
#Ques4.

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='http://statisticstimes.com/'
driver.get(url)

time.sleep(5)

#                                  Select economy then GDP of India

economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

India=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
India.click()

selectGDP_tag=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
selectGDP_tag.click() 

time.sleep(10)

#                                     Scrap the data

rank_tags=driver.find_elements(By.XPATH,'//td[@class="data1"]')
r=[]
for i in rank_tags:
    r.append(i.text)
rank=r[0:33]

state_tags=driver.find_elements(By.XPATH,'//td[@class="name"]')
s=[]
for i in state_tags:
    s.append(i.text)
state=s[0:33]

gsdp_tags=driver.find_elements(By.XPATH,'//td[@class="data"]')
g=[]
for i in gsdp_tags:
    g.append(i.text)
gsdp=g[0:165:5]

GSDP_tags=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
G=[]
for i in GSDP_tags:
    G.append(i.text)
GSDP=G[0:33]

share_tags=driver.find_elements(By.XPATH,'//td[@class="data"]')
sh=[]
for i in share_tags:
    sh.append(i.text.replace('%',''))
share=sh[1:165:5]

gdp_tags=driver.find_elements(By.XPATH,'//td[@class="data"]')
gd=[]
for i in gdp_tags:
    gd.append(i.text)
gdp=gd[2:165:5]

#                                        Create Data Frame

GDP_of_India=pd.DataFrame({'Rank':rank,'State':state,' GSDP(19-20)':gsdp,'GSDP(18-19)':GSDP,'Share(2018)(in %)':share,
                           'GDP($ billion)':gdp})
GDP_of_India

,Rank,State,GSDP(19-20),GSDP(18-19),Share(2018)(in %),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39,240.726
3,4,Gujarat,-,"1,502,899",7.96,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57,131.083
8,9,Telangana,"969,604","861,031",4.56,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29,122.977
10,11,Kerala,-,"781,653",4.14,118.733
11,12,Delhi,"856,112","774,870",4.10,117.703
12,13,Haryana,"831,610","734,163",3.89,111.519
13,14,Bihar,"611,804","530,363",2.81,80.562
14,15,Punjab,"574,760","526,376",2.79,79.957
15,16,Odisha,"521,275","487,805",2.58,74.098
16,17,Assam,-,"315,881",1.67,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61,46.187
18,19,Jharkhand,"328,598","297,204",1.57,45.145
19,20,Uttarakhand,-,"245,895",1.30,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81,23.369
22,23,Goa,"80,449","73,170",0.39,11.115
23,24,Tripura,"55,984","49,845",0.26,7.571
24,25,Chandigarh,-,"42,114",0.22,6.397
25,26,Puducherry,"38,253","34,433",0.18,5.230
26,27,Meghalaya,"36,572","33,481",0.18,5.086
27,28,Sikkim,"32,496","28,723",0.15,4.363
28,29,Manipur,"31,790","27,870",0.15,4.233
29,30,Nagaland,-,"27,283",0.14,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13,3.737
31,32,Mizoram,"26,503","22,287",0.12,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [29]:
#Ques5.

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='https://github.com/'
driver.get(url)

time.sleep(5)

#                                      Click the trending option 

explore=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore.click()

trending=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
trending.click()

#                                      Scrap the details

title_tags=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
title=[]
for i in title_tags:
    title.append(i.text)
    
descrip_tags=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
d=[]
for i in descrip_tags:
        d.append(i.text)
d.insert(14,'-')        
        
count_tags=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
c=[]
for i in count_tags:
    c.append(i.text)
count=c[0:50:2]

lang_tags=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]')
l=[]
for i in lang_tags:
    l.append(i.text.split()[0].replace('228,552','-').replace('7,670','-').replace('167','-').replace('244,271','-'))
    
#                                        Create Data Frame

Repository=pd.DataFrame({'Repository title':title,'Repository description':d,'Contributors count':count,'Language used':l})
Repository

,Repository title,Repository description,Contributors count,Language used
0,toeverything / AFFiNE,There can be more than Notion and Miro. Affine...,"4,474",TypeScript
1,jwasham / coding-interview-university,A complete computer science study plan to beco...,"228,552",-
2,iptv-org / iptv,Collection of publicly available IPTV channels...,"53,873",JavaScript
3,ventoy / Ventoy,A new bootable USB solution.,"37,683",C
4,MarlinFirmware / Marlin,Marlin is an optimized firmware for RepRap 3D ...,"13,565",C++
5,Dreamacro / clash,A rule-based tunnel in Go.,"29,784",Go
6,arthurspk / guiadevbrasil,GUIA EXTENSO DE PROGRAMAÇÃO:,"7,670",-
7,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,"192,091",Python
8,MatrixTM / MHDDoS,"Best DDoS Attack Script Python3, (Cyber / DDos...","5,187",Python
9,t3-oss / create-t3-app,Quickest way to start a new web app with full ...,"4,835",TypeScript
10,punk-security / dnsReaper,dnsReaper - subdomain takeover tool for attack...,405,Python
11,juliocesarfort / public-pentesting-reports,Curated list of public penetration test report...,"6,064",CSS
12,facebookresearch / ParlAI,A framework for training and evaluating AI mod...,"9,256",Python
13,utmapp / UTM,Virtual machines for iOS and macOS,"14,285",Swift
14,theboy181 / switch-ptchtxt-mods,-,167,-
15,Asabeneh / 30-Days-Of-React,30 Days of React challenge is a step by step g...,"15,167",JavaScript
16,github / docs,The open-source repo for docs.github.com,"10,841",JavaScript
17,josephmisiti / awesome-machine-learning,A curated list of awesome Machine Learning fra...,"55,247",Python
18,PKUFlyingPig / cs-self-learning,计算机自学指南,"11,516",HTML
19,jina-ai / discoart,Create Disco Diffusion artworks in one line,"2,096",Python
20,trickest / cve,Gather and update all available and newest CVE...,"3,417",HTML
21,HIT-UG-Group / DeepLearning-MuLi-Notes,Notes about courses Dive into Deep Learning by...,"1,890",Jupyter
22,hyprwm / Hyprland,Hyprland is a dynamic tiling Wayland composito...,"2,322",C++
23,EbookFoundation / free-programming-books,📚 Freely available programming books,"244,271",-
24,moyix / fauxpilot,FauxPilot - an open-source GitHub Copilot server,"4,091",Python

In [24]:
#Ques6.

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='https://www.billboard.com/'
driver.get(url)

time.sleep(5)

#                                  Click charts option and then hot 100

explore=driver.find_element(By.XPATH,'//div[@class="lrv-u-flex lrv-u-justify-content-start lrv-u-margin-lr-050@mobile-max"]')
explore.click() 

chart_tag=driver.find_element(By.XPATH,'/html/body/div[3]/div[6]/div/div/div/ul/li[1]/h3/button')
chart_tag.click()

hot_100=driver.find_element(By.XPATH,'/html/body/div[3]/div[6]/div/div/div/ul/li[1]/ul/li[2]/a')
hot_100.click()

time.sleep(10)

#                                         Scrap the data

song_tags=driver.find_elements(By.XPATH,'//h3[@id="title-of-a-story"]')
s=[]
for i in song_tags:
    s.append(i.text)
song=s[6:406:4] 

x=driver.find_element(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
x.text
artist_tags=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
a=[]
for i in artist_tags:
    a.append(i.text)
a.insert(0,'Lizzo')

last_tags=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
lr=[]
for i in last_tags:
    lr.append(i.text)
last_rank=lr[0:200:2]

peak_tags=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')
pr=[]
for i in peak_tags:
    pr.append(i.text.split()[-2])
    
weeks_tags=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
w=[]
for i in weeks_tags:
    w.append(i.text)
weeks=w[1:200:2]

#                                   Create Data Frame

billboard=pd.DataFrame({'Song name':song,'Artist name':a,'Last week rank':last_rank,'Peak rank':pr,'Weeks on board':weeks})
billboard

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,About Damn Time,Lizzo,1,1,15
1,As It Was,Harry Styles,2,1,17
2,Running Up That Hill (A Deal With God),Kate Bush,3,3,29
3,First Class,Jack Harlow,4,1,16
4,Wait For U,Future Featuring Drake & Tems,5,1,13
...,...,...,...,...,...
95,Te Felicito,Shakira & Rauw Alejandro,95,67,8
96,Are You Entertained,Russ & Ed Sheeran,-,97,1
97,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,-,98,1
98,Right On,Lil Baby,97,13,15
99,La Corriente,Bad Bunny & Tony Dize,99,32,9

In [7]:
# Ques7:

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

time.sleep(5)

search_tab=driver.find_element(By.CLASS_NAME,"sugInp")
search_tab.send_keys("Data science")

search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search.click()

#                                Scrap data 

name_tags=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
n=[]
for i in name_tags:
    n.append(i.text)
    
desig_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
d=[]
for i in desig_tags:
    d.append(i.text)
    
comp_tags=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
c=[]
for i in comp_tags:
    c.append(i.text)
comp=c[1:100:2]   

skill_tags=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
s=[]
for i in skill_tags:
    s.append(i.text)
    
loc_tags=driver.find_elements(By.XPATH,'//p[@class="highlightable"]')
l=[]
for i in loc_tags:
    l.append(i.text.split()[-1].replace('(london)','UK-(london)').replace('Corp','NaN').replace('City','Salt Lake City').replace
             ('Granular.ai','NaN'))
location=l[:]

#                              Create Data frame

Data=pd.DataFrame({'Name':n,'Designation':d,'Company':comp,'Skills they hire for':s,'Location':location})
Data

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK-(london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bangalore
10,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",NaN
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bangalore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysore
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Secunderabad
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bangalore
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",NaN
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Secunderabad

In [6]:
# Ques8.

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

#                                           Scrap the data

book_tags=driver.find_elements(By.XPATH,'//td[@class="left"]')
b=[]
for i in book_tags:
    b.append(i.text)
book=b[1:500:5]

author_tags=driver.find_elements(By.XPATH,'//td[@class="left"]')
a=[]
for i in author_tags:
    a.append(i.text)
author=a[2:500:5]

volume_tags=driver.find_elements(By.XPATH,'//td[@class="left"]')
v=[]
for i in volume_tags:
    v.append(i.text.replace(',',''))
volume=v[3:500:5]

pub_tags=driver.find_elements(By.XPATH,'//td[@class="left"]')
p=[]
for i in pub_tags:
    p.append(i.text)
publisher=p[4:500:5]

gen_tags=driver.find_elements(By.XPATH,'//td[@class="last left"]')
g=[]
for i in gen_tags:
    g.append(i.text)
genre=g[:]

#                                                Create DataFrame

SellingBooks=pd.DataFrame({'Book name':book,'Author name':author,'Volumes sold':volume,'Publisher':publisher,
                           'Genre':genre})
SellingBooks

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert",807311,Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General

In [11]:
# Ques9.

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='http://www.imdb.com/list/ls095964455/'
driver.get(url)

time.sleep(8)

#                               Scrap the data

name_tags=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
n=[]
for i in name_tags:
    n.append(i.text.replace(')','').split()[1:-1])
    
year_tags=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
y=[]
for i in year_tags:
    y.append(i.text.replace('(','').replace(')',''))
    
genre_tags=driver.find_elements(By.XPATH,'//span[@class="genre"]')
g=[]
for i in genre_tags:
    g.append(i.text)
    
time_tags=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
t=[]
for i in time_tags:
    t.append(i.text.replace('min',''))
    
rate_tags=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
r=[]
for i in rate_tags:
    r.append(i.text)
    
vote_tags=driver.find_elements(By.XPATH,'//span[@name="nv"]')
v=[]
for i in vote_tags:
    v.append(i.text.replace(',',''))
    
#                                    Create Data Frame

SeriesData=pd.DataFrame({'Name':n,'Year span':y,'Genre':g,'Run time(min)':t,'Rating':r,'Votes':v})
SeriesData

,Name,Year span,Genre,Run time(min),Rating,Votes
0,"[Game, of, Thrones]",2011–2019,"Action, Adventure, Drama",57,9.2,2020875
1,"[Stranger, Things]",2016–,"Drama, Fantasy, Horror",51,8.7,1116978
2,"[The, Walking, Dead]",2010–2022,"Drama, Horror, Thriller",44,8.2,959580
3,"[13, Reasons, Why]",2017–2020,"Drama, Mystery, Thriller",60,7.5,286872
4,"[The, 100]",2014–2020,"Drama, Mystery, Sci-Fi",43,7.6,246469
...,...,...,...,...,...,...
95,[Reign],2013–2017,Drama,42,7.4,49263
96,"[A, Series, of, Unfortunate, Events]",2017–2019,"Adventure, Comedy, Drama",50,7.8,60145
97,"[Criminal, Minds]",2005–2020,"Crime, Drama, Mystery",42,8.1,193387
98,"[Scream:, The, TV, Series]",2015–2019,"Comedy, Crime, Drama",45,7.1,40802
99,"[The, Haunting, of, Hill, House]",2018,"Drama, Horror, Mystery",572,8.6,233270

In [3]:
# Ques10.

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='https://archive.ics.uci.edu/'
driver.get(url)

time.sleep(5)

#                                         Search all the dataset

all_dataset_select=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a')
all_dataset_select.click()


#                                      Scrap all the necessary details

name_tags=driver.find_elements(By.XPATH,'//p[@class="normal"]')
n=[]
for i in name_tags:
    n.append(i.text)
name=n[8:4362:7] 

type_tags=driver.find_elements(By.XPATH,'//p[@class="normal"]')
t=[]
for i in type_tags:
    t.append(i.text)
typee=t[9:4362:7] 

task_tags=driver.find_elements(By.XPATH,'//p[@class="normal"]')
ta=[]
for i in task_tags:
    ta.append(i.text)
task=ta[10:4362:7] 

atype_tags=driver.find_elements(By.XPATH,'//p[@class="normal"]')
at=[]
for i in atype_tags:
    at.append(i.text)
at_type=at[11:4362:7]

instance_tags=driver.find_elements(By.XPATH,'//p[@class="normal"]')
ins=[]
for i in instance_tags:
    ins.append(i.text)
instance=ins[12:4362:7] 

attribute_tags=driver.find_elements(By.XPATH,'//p[@class="normal"]')
att=[]
for i in attribute_tags:
    att.append(i.text)
attribute=att[13:4362:7]

year_tags=driver.find_elements(By.XPATH,'//p[@class="normal"]')
y=[]
for i in year_tags:
    y.append(i.text)
year=y[14:4362:7]

#                                              Create Data Frame

DataSet=pd.DataFrame({'Dataset name':name,'Data type':typee,'Task':task,'Attribute type':at_type,'No of instances':instance,
                     'No of attribute':attribute,'Year':year})
DataSet

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021