In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\dell\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
from selenium import webdriver
from selenium .webdriver.common.by import By
import pandas as pd
 
import warnings 
warnings.filterwarnings("ignore")

In [20]:
# Ques1.

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='https://www.naukri.com/'
driver.get(url)

search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job.send_keys("Data Analyst")

search_location = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_location.send_keys("Bangalore")

search_button= driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_button.click()

# Scrap the data 

title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
title=[]
for i in title_tags:
    title.append(i.text)
job_title=title[0:10]

loc_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc=[]
for i in loc_tags:
    loc.append(i.text)
location_title=loc[0:10]

comp_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
comp_name=[]
for i in comp_tags:
    comp_name.append(i.text)
comp_title=comp_name[0:10]

exp_tag = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp=[]
for i in exp_tag:
    exp.append(i.text)
exp_title=exp[0:10]

Data_Analyst=pd.DataFrame({'Job_title':job_title,'Job_location':location_title,'Company_name':comp_title,
                           'Experience_required':exp_title})
Data_Analyst

,Job_title,Job_location,Company_name,Experience_required
0,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,6-11 Yrs
1,Sr Data Analyst,Bangalore/Bengaluru,Thomson Reuters,5-8 Yrs
2,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai",Capco,7-12 Yrs
3,Job opportunity For Data Analyst at Trellance ...,"Bangalore/Bengaluru, Ahmedabad",CURise Analytics Pvt. Ltd.,0-2 Yrs
4,Data Analyst,Bangalore/Bengaluru,Thomson Reuters,2-3 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
6,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
7,Data Analyst,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Wipro,4-9 Yrs
8,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
9,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs

In [21]:
# Ques2

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='https://www.naukri.com/'
driver.get(url)

# Enter the data

scrap_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
scrap_job.send_keys("Data Scientist")

scrap_location = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
scrap_location.send_keys("Bangalore")

scrap_button= driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
scrap_button.click()

# Filter the data

title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
title=[]
for i in title_tags:
    title.append(i.text)
job_title=title[0:10]

loc_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc=[]
for i in loc_tags:
    loc.append(i.text)
location_title=loc[0:10]

comp_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
comp_name=[]
for i in comp_tags:
    comp_name.append(i.text)
comp_title=comp_name[0:10]

Data_Scientist=pd.DataFrame({'Job_title':job_title,'Job_location':location_title,'Company_name':comp_title})
Data_Scientist

,Job_title,Job_location,Company_name
0,Data Scientist/ Senior Data Scientist,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, C...",Fractal Analytics
1,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
2,Hiring For Senior Data Scientist,"Bangalore/Bengaluru, Pune",TATA CONSULTANCY SERVICES (TCS)
3,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
4,Data Scientist,Bangalore/Bengaluru,Applied Materials
5,Data & Analytics Tech - Informatica Cloud- Sen...,Bangalore/Bengaluru,PwC
6,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
7,Research Scientist,Bangalore/Bengaluru,IBM
8,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric
9,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL

In [19]:
# Ques3

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='http://www.naukri.com/'
driver.get(url)

search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job.send_keys("Data Scientist")

search_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_button.click()

# Filter the location and salary

filter_loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/i')
filter_loc.click()

filter_salary = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
filter_salary.click()

# Scrap the data

title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
title=[]
for i in title_tags:
    title.append(i.text)
job_title=title[0:10]

loc_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc=[]
for i in loc_tags:
    loc.append(i.text)
location_title=loc[0:10]

comp_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
comp_name=[]
for i in comp_tags:
    comp_name.append(i.text)
comp_title=comp_name[0:10]

exp_tag = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp=[]
for i in exp_tag:
    exp.append(i.text.replace('Yrs',''))
exp_title=exp[0:10]

Data_Scientist=pd.DataFrame({'Job_title':job_title,'Job_location':location_title,'Company_name':comp_title,
                           'Experience_required':exp_title})
Data_Scientist

,Job_title,Job_location,Company_name,Experience_required
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5
1,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7
5,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3
8,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4

In [ ]:
# Ques4.

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='http://www.flipkart.com/'
driver.get(url)

# Search sunglasses
search_detail=driver.find_element(By.CLASS_NAME,"_3704LK")
search_detail.send_keys("Sunglasses")

search_icon=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button/svg')
search_icon.click()

# Scrap data

brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
b=[]
for i in brand_tags:
    b.append(i.text)
    
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
p=[]
for i in product_tags:
    p.append(i.text)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
pr=[]
for i in price_tags:
    pr.append(i.text)

Offer_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
off=[]
for i in Offer_tags:
    off.append(i.text.replace('% off',''))
    
z=(len(b),len(p),len(pr),len(off))

#Click Next

Next_icon=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
Next_icon.click()

#For next data

brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
Offer_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

b1=[]
p1=[]
pr1=[]
off1=[]

for i in brand_tags:
    b1.append(i.text)

for i in product_tags:
    p1.append(i.text)
    
for i in price_tags:
    pr1.append(i.text)   
    
for i in Offer_tags:
    off1.append(i.text)

z=(len(b1),len(p1),len(pr1),len(off1))
    
# Again click Next

Next_icon=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
Next_icon.click()

brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
price_tags=driver.find_elements(By.XPATH,'//div[@cclass="_30jeq3"]')
Offer_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

b2=[]
p2=[]
pr2=[]
off2=[]

for i in brand_tags:
    b2.append(i.text)

for i in product_tags:
    p2.append(i.text)
    
for i in price_tags:
    pr2.append(i.text)   
    
for i in Offer_tags:
    off2.append(i.text)
    
br = b2[:20]   
pro = p2[:20]
pri = pr2[:20]
offe = off2[:20]

brand=b+b1+br
product=p+p1+pro
price=pr+pr1+pri
offer=off+off1+offe

length=(len(brand),len(product),len(price),len(offer))

Sunglasses=pd.DataFrame({'Brand':brand,'Product':product,'Price':price,'Price_offer':offer})
Sunglasses

In [ ]:
# Ques6.

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='https://www.flipkart.com/'
driver.get(url)

# Search sneakers
search_detail=driver.find_element(By.CLASS_NAME,"_3704LK")
search_detail.send_keys("sneakers")

search_icon=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button/svg')
search_icon.click()

# For first scraping
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
Offer_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

br=[]
pro=[]
pr=[]
of=[]

for i in brand_tags:
    br.append(i.text)    

for i in product_tags:
    pro.append(i.text)
    
for i in price_tags:
    pr.append(i.text)   
    
for i in Offer_tags:
    of.append(i.text.replace('% off',''))    
    
brn=br[0:38] 
pri=pr[0:38]
off=of[0:38]

# Click on Next
Next_icon=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
Next_icon.click()

# For second scraping
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
Offer_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

br1=[]
pro1=[]
pr1=[]
of1=[]

for i in brand_tags:
    br1.append(i.text)

for i in product_tags:
    pro1.append(i.text)
    
for i in price_tags:
    pr1.append(i.text)   
    
for i in Offer_tags:
    of1.append(i.text.replace('% off',''))
   
    
brn1=br1[0:34] 
pri1=pr1[0:34]
off1=of1[0:34]

# Click on Next
Next_icon=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
Next_icon.click()

# For third searching
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
Offer_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

br2=[]
pro2=[]
pr2=[]
of2=[]

for i in brand_tags:
    br2.append(i.text)

for i in product_tags:
    pro2.append(i.text)
    
for i in price_tags:
    pr2.append(i.text)   
    
for i in Offer_tags:
    of2.append(i.text.replace('% off',''))
    
brnd = br2[:28]   
prod = pro2[:28]
pric = pr2[:28]
offe = of2[:28]

# combine all 
brand=brn+brn1+brnd
product=pro+pro1+prod
price=pri+pri1+pric
offer=off+off1+offe

# Check length
length=(len(brand),len(product),len(price),len(offer))

sneakers=pd.DataFrame({'Brand':brand,'Product':product,'Price':price,'Offer':offer})
sneakers

In [ ]:
# Ques8.

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

url='https://www.amazon.in/'
driver.get(url)

# Search Laptop

search_title = driver.find_element(By.ID,"twotabsearchtextbox")
search_title.send_keys("Laptop")

search_button = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()

# Filter intel core i7

corei7=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[13]/span/a/div/label/i')
corei7.click()

# Scrap Title, Rating, Price

title_tag=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none s-padding-right-small s-title-instructions-style"]')
t=[]
for i in title_tag:
    t.append(i.text)

title=t[:10]

rate_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
r=[]
for i in rate_tag:
    r.append(i.text)
rate=r[:10]

price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
p=[]
for i in price_tag:
    p.append(i.text)
price=p[:10]

Laptop=pd.DataFrame({'Title':title,'Rate':rate,'Price':price})
Laptop

In [ ]:
# Ques9.

driver = webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32 (1)\chromedriver.exe')

jobs_section = driver.find_element(By.XPATH,'/html/body/div[1]/nav/nav/a[6]')
jobs_section.click()

# Enter the Data Scientist in skill and then search

title_detail = driver.find_element(By.NAME,"ab_jobsSearch")
title_detail.send_keys("Data Scientist")

search_button = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
search_button.click()

# Click on location then Enter Noida in location and last select Noida

loc_button = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
loc_button.click()

loc_detail = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
loc_detail.send_keys("Noida")

select_loc =  driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select_loc.click()

# Scrap the details

comp_tags=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
comp_name=[]
for i in comp_tags:
    comp_name.append(i.text)
    
desg_tags=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
designation=[]
for i in desg_tags:
    designation.append(i.text)  
    
rate_tags=driver.find_elements(By.XPATH,'//span[@class="body-small"]')
rate=[]
for i in rate_tags:
    rate.append(i.text)
    
exp_tags=driver.find_elements(By.XPATH,'//div[@class="job-basic-info show-flex"]')
e=[]
for i in exp_tags:
    e.append(i.text.split()[0])
exp_req=e[1:11]        

Data_Scientist=pd.DataFrame({'Company Name':comp_name,'Designation':designation,'Rating':rate,'Experience':exp_req})
Data_Scientist